{% comment %}
  ---------------------------------------------------------
  Copyright © 2023 Section Store. All rights reserved.
  Unauthorized copying, modification, distribution, or use
  of this code or any portion of it, is strictly prohibited.
  Violators will be prosecuted to the fullest extent of the law.
  For inquiries or permissions, contact daniel@section.store
  ---------------------------------------------------------
{% endcomment %}

{%- liquid
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign layout_height = section.settings.layout_height
  assign layout_fixed_height = section.settings.layout_fixed_height
  assign layout_fixed_height_mobile = section.settings.layout_fixed_height_mobile

  assign bg_image = section.settings.bg_image
  assign bg_image_mobile = section.settings.bg_image_mobile
  assign bg_image_overlay_color = section.settings.bg_image_overlay_color
  assign bg_image_overlay = section.settings.bg_image_overlay

  assign content_max_width = section.settings.content_max_width
  assign content_align = section.settings.content_align
  assign content_align_mobile = section.settings.content_align_mobile
  assign content_vertical_align = section.settings.content_vertical_align
  assign content_vertical_align_mobile = section.settings.content_vertical_align_mobile

  assign loading_attribute = 'eager'
  if lazy
    assign loading_attribute = 'lazy'
  endif

  assign content_horizontal_align = ''
  if content_align == 'center'
    assign content_horizontal_align = 'center'
  elsif content_align == 'right'
    assign content_horizontal_align = 'end'
  else
    assign content_horizontal_align = 'start'
  endif

  assign content_horizontal_align_mobile = ''
  if content_align_mobile == 'center'
    assign content_horizontal_align_mobile = 'center'
  elsif content_align_mobile == 'right'
    assign content_horizontal_align_mobile = 'end'
  else
    assign content_horizontal_align_mobile = 'start'
  endif

  assign loading_attribute = 'eager'
  if lazy
    assign loading_attribute = 'lazy'
  endif
-%}

{%- style -%}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
    position: relative;
  }

  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .hero-bg-image-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero-bg-image-{{ section.id }} .hero-bg-image-mobile {
    display: block;
  }

  .hero-bg-image-{{ section.id }} .hero-bg-image-desktop {
    display: none;
  }

  .hero-bg-image-{{ section.id }}::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: {{ bg_image_overlay_color | hex_to_rgba: bg_image_overlay }};
  }

  .hero-bg-image-{{ section.id }} img,
  .hero-bg-image-{{ section.id }} svg  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-content-{{ section.id }} {
    position: relative;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: {{ content_vertical_align_mobile }};
  }

  .hero-review-{{ section.id }} {
    display: flex;
    justify-content: {{ content_horizontal_align_mobile }};
    gap: 16px;
  }

  .hero-review-content-{{ section.id }} {
    display: flex;
    flex-direction: column;
    align-items: {{ content_horizontal_align_mobile }};
    row-gap: 4px;
  }


  .hero-stars-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 1px;
    max-width: fit-content;
  }

  .hero-stars-wrapper-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .hero-buttons-{{ section.id }} {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: {{ content_horizontal_align_mobile }};
  }

  .hero-authors-{{ section.id }} {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .hero-author-image-{{ section.id }} img,
  .hero-author-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-bg-desktop-{{ section.id }} {
    display: none !important;
  }

  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }

    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .hero-bg-image-{{ section.id }} .hero-bg-image-mobile {
      display: none;
    }

    .hero-bg-image-{{ section.id }} .hero-bg-image-desktop {
      display: block;
    }

    .hero-content-{{ section.id }} {
      max-width: {{ content_max_width }}%;
      justify-content: {{ content_vertical_align }};
    }

    .hero-review-{{ section.id }} {
      justify-content: {{ content_horizontal_align }};
    }

    .hero-review-content-{{ section.id }} {
      align-items: {{ content_horizontal_align }};
    }

    .hero-buttons-{{ section.id }} {
      justify-content: {{ content_horizontal_align }};
    }

    .hero-bg-desktop-{{ section.id }} {
      display: block !important;
    }

    .hero-bg-mobile-{{ section.id }} {
      display: none !important;
    }
  }
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }

    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if layout_height == 'full_screen' %}
  <style>
    .section-{{ section.id }}-settings {
      height: 100%;
    }

    .hero-{{ section.id }} {
      height: 95vh;
    }

    @media(min-width: 1024px) {
      .section-{{ section.id }}-settings {
        height: 100%;
      }

      .hero-{{ section.id }} {
        height: 95vh;
      }
    }
  </style>
{% elsif layout_height == 'fixed_height' %}
  <style>
    .section-{{ section.id }}-settings {
      height: 100%;
    }

    .hero-{{ section.id }} {
      height: {{ layout_fixed_height_mobile }}px;
    }

    @media(min-width: 1024px) {
      .section-{{ section.id }}-settings {
        height: 100%;
      }

      .hero-{{ section.id }} {
        height: {{ layout_fixed_height }}px;
      }
    }
  </style>
{% endif %}

{% if content_align_mobile == 'center' %}
  <style>
    .hero-content-{{ section.id }} {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
{% elsif content_align_mobile == 'right' %}
  <style>
    .hero-content-{{ section.id }} {
      margin-left: auto;
    }
  </style>
{% endif %}

{% if content_align == 'center' %}
  <style>
    @media(min-width: 1024px) {
      .hero-content-{{ section.id }} {
        margin-left: auto;
        margin-right: auto;
      }
    }
  </style>
{% elsif content_align == 'right' %}
  <style>
    @media(min-width: 1024px) {
      .hero-content-{{ section.id }} {
        margin-left: auto;
        margin-right: 0px;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .hero-content-{{ section.id }} {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'review' %}
      <style>
        {{  block.settings.review_font | font_face: font_display: 'swap' }}

        .hero-review-{{ block.id }} {
          margin-top: {{ block.settings.review_mt_mobile }}px;
        }

        .hero-author-image-{{ block.id }} {
          border: {{ block.settings.image_border_thickness }}px solid {{ block.settings.image_border_color }};
          border-radius: {{ block.settings.image_radius }}px;
          overflow: hidden;
          width: {{ block.settings.image_size_mobile }}px;
          height: {{ block.settings.image_size_mobile }}px;
          background-color: {{ background_color }};
        }

        .hero-author-image-{{ block.id }}:not(:first-child) {
          margin-left: -{{ block.settings.image_size_mobile | times: 0.3 }}px;
        }

        .hero-review-text-{{ block.id }},
        .hero-stars-count-{{ block.id }} {
          word-wrap: break-word;
          margin: 0;
          font-size: {{ block.settings.review_size_mobile }}px;
          color: {{ block.settings.review_color }};
          line-height: {{ block.settings.review_height }}%;
          text-align: {{ block.settings.review_align_mobile }};
          text-transform: unset;
        }

        .hero-stars-count-{{ block.id }} {
          color: {{ block.settings.count_color }};
        }

        .hero-stars-{{ block.id }} svg,
        .hero-stars-{{ block.id }} img {
          display: block;
          width: {{ block.settings.stars_size_mobile }}px;
          height: {{ block.settings.stars_size_mobile }}px;
          object-fit: cover;
        }

        @media (min-width: 1024px) {
          .hero-review-{{ block.id }} {
            margin-top: {{ block.settings.review_mt }}px;
          }

          .hero-author-image-{{ block.id }} {
            width: {{ block.settings.image_size }}px;
            height: {{ block.settings.image_size }}px;
          }

          .hero-author-image-{{ block.id }}:not(:first-child) {
            margin-left: -{{ block.settings.image_size | times: 0.3 }}px;
          }

          .hero-review-text-{{ block.id }},
          .hero-stars-count-{{ block.id }} {
            font-size: {{ block.settings.review_size }}px;
          }

          .hero-stars-{{ block.id }} svg,
          .hero-stars-{{ block.id }} img {
            width: {{ block.settings.stars_size }}px;
            height: {{ block.settings.stars_size }}px;
          }
        }
      </style>

      {% if block.settings.review_custom %}
        <style>
          .hero-review-text-{{ block.id }} {
            font-family: {{ block.settings.review_font.family }}, {{ block.settings.review_font.fallback_families }};
            font-weight: {{ block.settings.review_font.weight }};
            font-style: {{ block.settings.review_font.style }};
          }

          .hero-stars-count-{{ block.id }} {
            font-family: {{ block.settings.review_font.family }}, {{ block.settings.review_font.fallback_families }};
            font-weight: {{ block.settings.review_font.weight }};
            font-style: {{ block.settings.review_font.style }};
          }
        </style>
      {% endif %}

    {% when 'heading' %}
      <style>
        {{  block.settings.heading_font | font_face: font_display: 'swap' }}

        .hero-heading-{{ block.id }} {
          margin-top: {{ block.settings.heading_mt_mobile }}px;
          text-align: {{ content_horizontal_align_mobile }};
        }

        .hero-heading-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.heading_size_mobile }}px;
          color: {{ block.settings.heading_color }};
          line-height: {{ block.settings.heading_height }}%;
          text-transform: unset;
          word-break: break-word;
          font-weight: 700;
        }

        .hero-heading-{{ block.id }} * strong {
          text-decoration: underline {{ block.settings.heading_border_color }};
        }

        @media(min-width: 1024px) {

          .hero-heading-{{ block.id }} {
            margin-top: {{ block.settings.heading_mt }}px;
            text-align: {{ content_horizontal_align }};
          }

          .hero-heading-{{ block.id }} * {
            font-size: {{ block.settings.heading_size }}px;
          }
        }

        @media(max-width: 768px) {
          .hero-heading-{{ block.id }} * strong {
            border-bottom: 1.75px solid {{ block.settings.heading_border_color }};
          }
        }
      </style>

      {% if block.settings.heading_custom %}
        <style>
          .hero-heading-{{ block.id }} * {
            font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
            font-weight: {{ block.settings.heading_font.weight }};
            font-style: {{ block.settings.heading_font.style }};
          }
        </style>
      {% endif %}

    {% when 'text' %}
      <style>
        {{  block.settings.text_font | font_face: font_display: 'swap' }}

        .hero-text-{{ block.id }} {
          margin-top: {{ block.settings.text_mt_mobile }}px;
          text-align: {{ content_horizontal_align_mobile }};
          position: relative;
          z-index: 2;
        }

        .hero-text-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.text_size_mobile }}px;
          color: {{ block.settings.text_color }};
          line-height: {{ block.settings.text_height }}%;
          text-transform: unset;
        }

        @media(min-width: 1024px) {

          .hero-text-{{ block.id }} {
            margin-top: {{ block.settings.text_mt }}px;
            text-align: {{  content_horizontal_align }};
          }

          .hero-text-{{ block.id }} * {
            font-size: {{ block.settings.text_size }}px;
          }

        }
      </style>

      {% if block.settings.text_custom %}
        <style>
          .hero-text-{{ block.id }} * {
            font-family: {{ block.settings.text_font.family }}, {{ block.settings.text_font.fallback_families }};
            font-weight: {{ block.settings.text_font.weight }};
            font-style: {{ block.settings.text_font.style }};
          }
        </style>
      {% endif %}

    {% when 'button' %}
      <style>
        {{  block.settings.button_font | font_face: font_display: 'swap' }}

        .hero-button-{{ block.id }} {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: fit-content;
          gap: 10px;
          width: 100%;
          margin: 0;
          margin-top: {{ block.settings.button_mt_mobile }}px;
          font-size: {{ block.settings.button_size_mobile }}px;
          color: {{ block.settings.button_color }};
          line-height: {{ block.settings.button_height }}%;
          text-align: center;
          text-transform: unset;
          text-decoration: none;
          padding: {{ block.settings.button_padding_vertical_mobile }}px {{ block.settings.button_padding_horizontal_mobile }}px;
          border-radius: {{ block.settings.button_radius }}px;
          transition: all 0.3s ease 0s;
          background-color: transparent;
          border: 0px;
          cursor: pointer;
          font-weight: 700;
        }

        .hero-button-inner-{{ block.id }} {
          margin: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          text-decoration: none;
        }

        .hero-button-{{ block.id }}:hover {
          color: {{ block.settings.button_hover_color }};
          transition: all 0.25s ease 0s;
        }

        .hero-button-{{ block.id }} svg {
          width: 14px;
          height: 14px;
        }

        .hero-button-{{ block.id }} svg path {
          fill: {{ block.settings.button_color }};
          transition: all 0.25s ease 0s;
        }

        .hero-button-{{ block.id }}:hover svg path {
          fill: {{ block.settings.button_hover_color }};
          transition: all 0.25s ease 0s;
        }

        @media (min-width: 1024px) {
          .hero-button-{{ block.id }} {
            margin-top: {{ block.settings.button_mt }}px;
            padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
            font-size: {{ block.settings.button_size }}px;
          }
        }
      </style>

      {% if block.settings.use_shadow %}
        <style>
          .hero-button-{{ block.id }}:hover {
            -webkit-box-shadow: 0px 0px 8px 2px {{ block.settings.button_bg_color }};
            -moz-box-shadow: 0px 0px 8px 2px {{ block.settings.button_bg_color }};
            box-shadow: 0px 0px 8px 2px {{ block.settings.button_bg_color }};
          }
        </style>
      {% endif %}

      {% if block.settings.button_custom %}
        <style>
          .hero-button-{{ block.id }} {
            font-family: {{ block.settings.button_font.family }}, {{ block.settings.button_font.fallback_families }};
            font-weight: {{ block.settings.button_font.weight }};
            font-style: {{ block.settings.button_font.style }};
          }
        </style>
      {% endif %}

      {% if block.settings.button_style == 'non_outline' or block.settings.button_style == 'non_outline_arrow' %}
        <style>
          .hero-button-{{ block.id }} {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_color }};
          }

          .hero-button-{{ block.id }}:hover {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_hover_color }};
          }
        </style>
      {% elsif block.settings.button_style == 'outline' or block.settings.button_style == 'outline_arrow' %}
        <style>
          .hero-button-{{ block.id }} {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_color }};
            border: {{  block.settings.button_border_thickness }}px solid {{  block.settings.button_border_color }};
          }

          .hero-button-{{ block.id }}:hover {
            transition: all 0.3s ease 0s;
            background-color: {{  block.settings.button_bg_hover_color }};
            border: {{  block.settings.button_border_thickness }}px solid {{ block.settings. button_border_hover_color }};
          }
        </style>
      {% elsif block.settings.button_style == 'link' %}
        <style>
          .hero-button-{{ block.id }} {
            padding: 0px !important;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
          }
        </style>
      {% endif %}
  {% endcase %}
{% endfor %}

<div
  class="section-{{ section.id }} hero-{{ section.id }}"
  style="background-color:{{ background_color }}; background-image: {{ background_gradient }};"
>
  <div class="section-{{ section.id }}-settings">
    <div class="hero-bg-image-{{ section.id }}">
      {% if bg_image != blank %}
        {%- capture sizes -%}100vw{%- endcapture -%}
        {% if bg_image_mobile != blank %}
          {{
            bg_image
            | image_url: width: 3840
            | image_tag:
              loading: loading_attribute,
              sizes: sizes,
              alt: bg_image.alt,
              class: 'hero-bg-image-desktop',
              widths: '1780, 2000, 2500, 3000, 3500, 4000'
          }}
          {%- capture sizes_mobile -%}100vw{%- endcapture -%}
          {{
            bg_image_mobile
            | image_url: width: 1100
            | image_tag:
              loading: loading_attribute,
              sizes: sizes_mobile,
              alt: bg_image_mobile.alt,
              class: 'hero-bg-image-mobile',
              widths: '550, 750, 1100'
          }}
        {% else %}
          {{
            bg_image
            | image_url: width: 3840
            | image_tag:
              loading: loading_attribute,
              sizes: sizes,
              alt: bg_image.alt,
              widths: '1780, 2000, 2500, 3000, 3500, 4000'
          }}
        {% endif %}
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
    </div>
    <div class="hero-content-{{ section.id }}">
      {% assign button_open = false %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'review' %}
            {% if block.settings.review != blank %}
              <div class="hero-review-{{ section.id }} hero-review-{{ block.id }}">
                <div class="hero-authors-{{ section.id }}">
                  {% if block.settings.first_image != blank %}
                    <div class="hero-author-image-{{ section.id }} hero-author-image-{{ block.id }}">
                      {%- liquid
                        assign img_alt = block.settings.first_image.alt | escape
                      -%}
                      {%- capture sizes -%}(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{
                        block.settings.first_image
                        | image_url: width: 300
                        | image_tag:
                          loading: loading_attribute,
                          width: block.settings.first_image.width,
                          height: block.settings.first_image.height,
                          sizes: sizes,
                          widths: '30, 50, 80, 120, 150, 200',
                          alt: img_alt
                      }}
                    </div>
                  {% endif %}
                  {% if block.settings.second_image != blank %}
                    <div class="hero-author-image-{{ section.id }} hero-author-image-{{ block.id }}">
                      {%- liquid
                        assign img_alt = block.settings.second_image.alt | escape
                      -%}
                      {%- capture sizes -%}(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{
                        block.settings.second_image
                        | image_url: width: 300
                        | image_tag:
                          loading: loading_attribute,
                          width: block.settings.second_image.width,
                          height: block.settings.second_image.height,
                          sizes: sizes,
                          widths: '30, 50, 80, 120, 150, 200',
                          alt: img_alt
                      }}
                    </div>
                  {% endif %}
                  {% if block.settings.third_image != blank %}
                    <div class="hero-author-image-{{ section.id }} hero-author-image-{{ block.id }}">
                      {%- liquid
                        assign img_alt = block.settings.third_image.alt | escape
                      -%}
                      {%- capture sizes -%}(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{
                        block.settings.third_image
                        | image_url: width: 300
                        | image_tag:
                          loading: loading_attribute,
                          width: block.settings.third_image.width,
                          height: block.settings.third_image.height,
                          sizes: sizes,
                          widths: '30, 50, 80, 120, 150, 200',
                          alt: img_alt
                      }}
                    </div>
                  {% endif %}
                  {% if block.settings.fourth_image != blank %}
                    <div class="hero-author-image-{{ section.id }} hero-author-image-{{ block.id }}">
                      {%- liquid
                        assign img_alt = block.settings.fourth_image.alt | escape
                      -%}
                      {%- capture sizes -%}(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                      {{
                        block.settings.fourth_image
                        | image_url: width: 300
                        | image_tag:
                          loading: loading_attribute,
                          width: block.settings.fourth_image.width,
                          height: block.settings.fourth_image.height,
                          sizes: sizes,
                          widths: '30, 50, 80, 120, 150, 200',
                          alt: img_alt
                      }}
                    </div>
                  {% endif %}
                </div>
                <div class="hero-review-content-{{ section.id }}">
                  {% if block.settings.review %}
                    <p class="hero-review-text-{{ block.id }}">{{ block.settings.review }}</p>
                  {% endif %}
                  {% if block.settings.stars_count != 0 %}
                    <div class="hero-stars-wrapper-{{ section.id }}">
                      <div class="hero-stars-{{ section.id }} hero-stars-{{ block.id }}">
                        {% if block.settings.stars_icon != blank %}
                          {% assign stars_count_round = block.settings.stars_count | round: 0 %}
                          {% for item in (1..stars_count_round) %}
                            {%- liquid
                              assign img_alt = block.settings.stars_icon.alt | escape
                            -%}
                            {%- capture sizes -%}, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
                            {{
                              block.settings.stars_icon
                              | image_url: width: 300
                              | image_tag:
                                loading: loading_attribute,
                                width: block.settings.stars_icon.width,
                                height: block.settings.stars_icon.height,
                                sizes: sizes,
                                widths: '450, 535, 750',
                                alt: img_alt
                            }}
                          {% endfor %}
                        {% else %}
                          {% if block.settings.stars_count > 0 %}
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              {% if block.settings.stars_count == 0.5 %}
                                <defs>
                                  <linearGradient id="grad{{ section.id }}1">
                                    <stop offset="0%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                    <stop offset="100%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                  </linearGradient>
                                </defs>
                              {% endif %}
                              <rect width="32" height="32" fill="{% if block.settings.stars_count == 0.5 %}url(#grad{{ section.id }}1){% else %}{{ block.settings.stars_bg_color }}{% endif %}"/>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="{{ block.settings.stars_color }}"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="{{ block.settings.stars_color }}" transform="translate(5 5)"/>
                              </clipPath>
                              </defs>
                            </svg>
                          {% endif %}
                          {% if block.settings.stars_count > 1 %}
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              {% if block.settings.stars_count == 1.5 %}
                                <defs>
                                  <linearGradient id="grad{{ section.id }}2">
                                    <stop offset="0%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                    <stop offset="100%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                  </linearGradient>
                                </defs>
                              {% endif %}
                              <rect width="32" height="32" fill="{% if block.settings.stars_count == 1.5 %}url(#grad{{ section.id }}2){% else %}{{ block.settings.stars_bg_color }}{% endif %}"/>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="{{ block.settings.stars_color }}"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="{{ block.settings.stars_color }}" transform="translate(5 5)"/>
                              </clipPath>
                              </defs>
                            </svg>
                          {% endif %}
                          {% if block.settings.stars_count > 2 %}
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              {% if block.settings.stars_count == 2.5 %}
                                <defs>
                                  <linearGradient id="grad{{ section.id }}3">
                                    <stop offset="0%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                    <stop offset="100%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                  </linearGradient>
                                </defs>
                              {% endif %}
                              <rect width="32" height="32" fill="{% if block.settings.stars_count == 2.5 %}url(#grad{{ section.id }}3){% else %}{{ block.settings.stars_bg_color }}{% endif %}"/>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="{{ block.settings.stars_color }}"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="{{ block.settings.stars_color }}" transform="translate(5 5)"/>
                              </clipPath>
                              </defs>
                            </svg>
                          {% endif %}
                          {% if block.settings.stars_count > 3 %}
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              {% if block.settings.stars_count == 3.5 %}
                                <defs>
                                  <linearGradient id="grad{{ section.id }}4">
                                    <stop offset="0%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                    <stop offset="100%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                  </linearGradient>
                                </defs>
                              {% endif %}
                              <rect width="32" height="32" fill="{% if block.settings.stars_count == 3.5 %}url(#grad{{ section.id }}4){% else %}{{ block.settings.stars_bg_color }}{% endif %}"/>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="{{ block.settings.stars_color }}"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="{{ block.settings.stars_color }}" transform="translate(5 5)"/>
                              </clipPath>
                              </defs>
                            </svg>
                          {% endif %}
                          {% if block.settings.stars_count > 4 %}
                            <svg
                              width="32"
                              height="32"
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              {% if block.settings.stars_count == 4.5 %}
                                <defs>
                                  <linearGradient id="grad{{ section.id }}5">
                                    <stop offset="0%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_color }}" />
                                    <stop offset="50%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                    <stop offset="100%" stop-color="{{ block.settings.stars_bg_half_color }}" />
                                  </linearGradient>
                                </defs>
                              {% endif %}
                              <rect width="32" height="32" fill="{% if block.settings.stars_count == 4.5 %}url(#grad{{ section.id }}5){% else %}{{ block.settings.stars_bg_color }}{% endif %}"/>
                              <g clip-path="url(#clip0_25_4)">
                              <path d="M9.20283 27L16.001 21.807L22.7972 27L20.2018 18.596L27 13.403H18.5984L16.001 5L13.4037 13.403H5L11.7982 18.596L9.20283 27Z" fill="{{ block.settings.stars_color }}"/>
                              </g>
                              <defs>
                              <clipPath id="clip0_25_4">
                              <rect width="22" height="22" fill="{{ block.settings.stars_color }}" transform="translate(5 5)"/>
                              </clipPath>
                              </defs>
                            </svg>
                          {% endif %}
                        {% endif %}
                      </div>
                      {% if block.settings.stars_text %}
                        <p class="hero-stars-count-{{ section.id }} hero-stars-count-{{ block.id }}">
                          {{ block.settings.stars_text }}
                        </p>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% when 'heading' %}
            {% if block.settings.heading != blank %}
              <div class="hero-heading-{{ block.id }}">
                {{ block.settings.heading }}
              </div>
            {% endif %}
          {% when 'text' %}
            {% if block.settings.text != blank %}
              <div class="hero-text-{{ block.id }}">
                {{ block.settings.text }}
              </div>
            {% endif %}
          {% when 'button' %}
            {% assign next_index = forloop.index0 | plus: 1 %}
            {% assign next_block = section.blocks[next_index] %}

            {% unless button_open %}
              <div class="hero-buttons-{{ section.id }}">
            {% endunless %}

            {% if block.settings.button != blank %}
              <a href="{{ block.settings.url }}" class="hero-button-{{ block.id }}">
                <p class="hero-button-inner-{{ block.id }}">
                  {{ block.settings.button }}
                  {% if block.settings.button_style == 'non_outline_arrow'
                    or block.settings.button_style == 'outline_arrow'
                  %}
                    <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
                      <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
                    </svg>
                  {% endif %}
                </p>
              </a>
            {% endif %}

            {% assign button_open = true %}

            {% if next_block.type != 'button' %}
              </div>
              {% assign button_open = false %}
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SS - Hero #24",
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "select",
      "id": "layout_height",
      "label": "Height",
      "default": "full_screen",
      "options": [
        {
          "label": "Full screen",
          "value": "full_screen"
        },
        {
          "label": "Fixed height",
          "value": "fixed_height"
        },
        {
          "label": "Auto",
          "value": "auto"
        }
      ]
    },
    {
      "type": "range",
      "id": "layout_fixed_height",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Fixed height",
      "default": 600
    },
    {
      "type": "range",
      "id": "layout_fixed_height_mobile",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Fixed height - mobile",
      "default": 460
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Image - mobile (optional)"
    },
    {
      "type": "range",
      "id": "bg_image_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay",
      "default": 0.2
    },
    {
      "type": "header",
      "content": "Content settings"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Max width - desktop",
      "default": 40
    },
    {
      "type": "text_alignment",
      "id": "content_align",
      "label": "Alignment"
    },
    {
      "type": "text_alignment",
      "id": "content_align_mobile",
      "label": "Alignment - mobile"
    },
    {
      "type": "select",
      "id": "content_vertical_align",
      "label": "Vertical align",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_vertical_align_mobile",
      "label": "Vertical align - mobile",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Overlay",
      "id": "bg_image_overlay_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "review",
      "limit": 1,
      "name": "Stars rating",
      "settings": [
        {
          "type": "header",
          "content": "Images settings"
        },
        {
          "type": "image_picker",
          "label": "First image",
          "id": "first_image"
        },
        {
          "type": "image_picker",
          "label": "Second image",
          "id": "second_image"
        },
        {
          "type": "image_picker",
          "label": "Third image",
          "id": "third_image"
        },
        {
          "type": "image_picker",
          "label": "Fourth image",
          "id": "fourth_image"
        },
        {
          "type": "range",
          "id": "image_size",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 38
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "min": 10,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 38
        },
        {
          "type": "range",
          "id": "image_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 100
        },
        {
          "type": "range",
          "id": "image_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border thickness",
          "default": 1
        },
        {
          "type": "header",
          "content": "Stars settings"
        },
        {
          "type": "range",
          "id": "stars_count",
          "min": 0,
          "max": 5,
          "step": 0.5,
          "label": "Stars count",
          "default": 4.5
        },
        {
          "type": "image_picker",
          "label": "Stars icon",
          "id": "stars_icon",
          "info": "Replaces the default stars icon"
        },
        {
          "type": "range",
          "id": "stars_size",
          "min": 10,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Size",
          "default": 18
        },
        {
          "type": "range",
          "id": "stars_size_mobile",
          "min": 10,
          "max": 50,
          "step": 2,
          "unit": "px",
          "label": "Size - mobile",
          "default": 16
        },
        {
          "type": "header",
          "content": "Text settings"
        },
        {
          "type": "text",
          "id": "review",
          "label": "Line 1",
          "default": "50K+ Happy Customers"
        },
        {
          "type": "text",
          "id": "stars_text",
          "label": "Line 2",
          "default": "Excellent 4.9"
        },
        {
          "type": "checkbox",
          "id": "review_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "review_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "review_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "review_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 13
        },
        {
          "type": "range",
          "id": "review_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
        },
        {
          "type": "range",
          "id": "review_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 16
        },
        {
          "type": "range",
          "id": "review_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 10
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "label": "Primary text",
          "id": "review_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Secondary text",
          "id": "count_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Default star",
          "id": "stars_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Default star background",
          "id": "stars_bg_color",
          "default": "#00B67A"
        },
        {
          "type": "color",
          "label": "Default half star background",
          "id": "stars_bg_half_color",
          "default": "#DDDDDD"
        },
        {
          "type": "color",
          "label": "Image border",
          "id": "image_border_color",
          "default": "#FFFFFF"
        }
      ]
    },
    {
      "type": "heading",
      "limit": 1,
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "info": "Use bold text style to apply underlining",
          "default": "<h1>Hero <strong>#24</strong></h1>"
        },
        {
          "type": "checkbox",
          "id": "heading_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size",
          "default": 54
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 0,
          "max": 72,
          "step": 2,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 52
        },
        {
          "type": "range",
          "id": "heading_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 130
        },
        {
          "type": "range",
          "id": "heading_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 24
        },
        {
          "type": "range",
          "id": "heading_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 20
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "label": "Heading",
          "id": "heading_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "label": "Underline",
          "id": "heading_border_color",
          "default": "#FFFFFF",
          "info": "Use bold text style to apply underlining"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Tell your brand's story through images</p>"
        },
        {
          "type": "checkbox",
          "id": "text_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "text_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "text_size",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 18
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "min": 0,
          "max": 40,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 18
        },
        {
          "type": "range",
          "id": "text_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "range",
          "id": "text_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 20
        },
        {
          "type": "range",
          "id": "text_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 20
        },
        {
          "type": "color",
          "label": "Color",
          "id": "text_color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button",
          "label": "Button label",
          "default": "Shop this",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "button_font",
          "label": "Font family",
          "default": "josefin_sans_n4"
        },
        {
          "type": "range",
          "id": "button_size",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_size_mobile",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 100
        },
        {
          "type": "range",
          "id": "button_padding_horizontal",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal",
          "default": 52
        },
        {
          "type": "range",
          "id": "button_padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding horizontal - mobile",
          "default": 40
        },
        {
          "type": "range",
          "id": "button_padding_vertical",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical",
          "default": 20
        },
        {
          "type": "range",
          "id": "button_padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Padding vertical - mobile",
          "default": 20
        },
        {
          "type": "range",
          "id": "button_radius",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Roundness",
          "default": 8
        },
        {
          "type": "range",
          "id": "button_border_thickness",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border thickness",
          "default": 1
        },
        {
          "type": "range",
          "id": "button_mt",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top",
          "default": 16
        },
        {
          "type": "range",
          "id": "button_mt_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "Margin top - mobile",
          "default": 12
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "outline",
          "options": [
            {
              "label": "Link",
              "value": "link"
            },
            {
              "label": "Non-outline",
              "value": "non_outline"
            },
            {
              "label": "Non-outline & arrow",
              "value": "non_outline_arrow"
            },
            {
              "label": "Outline",
              "value": "outline"
            },
            {
              "label": "Outline & arrow",
              "value": "outline_arrow"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button colors"
        },
        {
          "type": "color",
          "label": "Text",
          "id": "button_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Hover text",
          "id": "button_hover_color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "label": "Background",
          "id": "button_bg_color",
          "default": "#17c87c"
        },
        {
          "type": "color",
          "label": "Background hover",
          "id": "button_bg_hover_color",
          "default": "#17c87c"
        },
        {
          "type": "color",
          "label": "Button border",
          "id": "button_border_color",
          "default": "#17c87c"
        },
        {
          "type": "color",
          "label": "Border hover",
          "id": "button_border_hover_color",
          "default": "#17c87c"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Hero #24",
      "blocks": [
        {
          "type": "review"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        },
        {
          "type": "button",
          "settings": {
            "button_padding_horizontal": 40,
            "button_padding_horizontal_mobile": 34,
            "button_color": "#17c87c",
            "button_bg_color": "transparent",
            "button": "Shop all"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Additional text</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
